@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}
.logos{
  width: 15%;
  height: 15%;
}
about{
	margin-left: 90px;
}
.about us{
   width:100%;
   border-radius: 7px;

}
.us{
display: block;
float: left;
width: 40%;
 padding: 10px;

}
.us p{
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size:15px;
}