{% extends 'Master.html' %}
{% load static %}
{% block title %}
	<title>About</title>
{% endblock %}
{% block content %}
    
          <section>
            <center><h2 style="font-size: 30px;">ABOUT US </h2></center>
            <div class="row">
                <div class="col-sm-3">
                    <h1>Who we Are</h1>
                    <img src="{% static 'images/kamiti.jpeg' %}" alt="home is the best">
                    <h2>Our Story</h2>
                    <p>We seek to transforming citizens of kenya to be a part of our growth with a view to transforming their lives and for the Nation.</p>
                </div>
                <div class="col-sm-3">
                    <h3>Our Journey</h3>
                    <img src="{% static 'images/celebration.jpeg' %}" alt="">
                    <p>Celebrating over 43 years of transforming lives with a vicinity that’s committed to serving Kenyans. </p>

                </div>
                <div class="col-sm-3">
                    <h4>Our leadership</h4>
                    <img src="{% static 'images/leadership.jpeg' %}" alt="">
                    <p>The senior management team is responsible for the daily running of the prison while the Board is responsible for the overall conduct of the prisons’s perfomance.</p>
                </div>
                <div class="col-sm-3">
                    <h5>Community Impact</h5>
                    <img src=" {% static 'images/community.jpeg' %}" alt="">
                    <p>We’re transforming the lives of Kenyans through our participation in community development initiatives that are aimed at pushing financial and personal growth, as part of our enduring commitment to be of service to YOU Kenyans.</p>
                </div>
                <div class="col-sm-3">
                    <h6>Social Innovation</h6>
                    <img src="{% static 'images/furniture.jpeg'  %}" alt="">
                    <p>
                        Connecting insights, people and aspirations. We leverage technology use in the solving of society's challenges by creating lasting positive impact.</p>
                </div>
               
               
            </div>
          </section>

          

     
{% endblock %}