{% extends 'Master.html' %}
{% load static %}
{% block title %}
<title>contact us</title>
{% endblock %}
{% block content %}
	<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
             <img class="rounded-circle" src="{% static 'images/twitter.png' %}" alt="home is the best">
                    <p>@kamiti_prison</p>
        </div>
        <div class="col-sm-4">
                <img class="rounded-circle" src="{% static 'images/whatsapp.png' %}" alt="">
                    <p>0717815133</p>
        </div>
{#        i was here on 5th May 2025#}
        <div class="col-sm-4">
            <img class="rounded-circle" src="{% static 'images/pin.png' %}" alt="">
                    <p>@kamiti_prison</p>
        </div>
        <div class="col-sm-4">
             <img class="rounded-circle" src="{% static 'images/web.png' %}" alt="">
                    <p>www.kamitiprison.com</p>
        </div>
        <div class="col-sm-4">
            <img class="rounded-circle" src="{% static 'images/facebook.png' %}" alt="">
                    <p>kamiti_prison</p>
        </div>
        <div class="col-sm-4">
             <img class="rounded-circle" src="{% static 'images/email.png' %}" alt="">
                    <p>kamitiprison@hotmail.com</p>
        </div>
        <div class="col-sm-4">
             <img class="rounded-circle" src="{% static 'images/phone.png' %}" alt="">
                    <p>0717815133</p>
        </div>
        
    </div>
    </div>

    
{% endblock %}