{% extends 'Master.html' %}
{% load static %}

{% block title %}
	<title>Warden Details</title>
{% endblock %}
{% block content %}
	<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <table class="table table-striped">
                <tr>
                    <td>First Name</td>
                    <td>{{ warden.FirstName }}</td>
                </tr>
                 <tr>
                    <td>LastName</td>
                    <td>{{ warden.LastName }}</td>
                </tr>
                 <tr>
                    <td>Email</td>
                    <td>{{ warden.Email }}</td>
                </tr>
                 <tr>
                    <td>first name</td>
                    <td>{{ customer.first_name }}</td>
                </tr>
                 <tr>
                    <td>Age</td>
                    <td>{{ warden.Age  }}</td>
                </tr>
                 <tr>
                    <td>Weight</td>
                    <td>{{ warden.Weight }}</td>
                </tr>
                 <tr>
                    <td>Gender</td>
                    <td>{{ warden.Gender }}</td>
                </tr>
            </table>
        </div>
            <div class="col-sm-4">
                {% if warden.ProfilePicture %}
                     <img class="img-fluid mx-auto d-block profile" src="{{ warden.ProfilePicture.url }}" alt="">
                {% else %}
              <img class="img-fluid mx-auto d-block profile" src="{% static 'default.png' %}" alt="">
                {% endif %}
            </div>
     <div class="col-sm-4">
               <p>Armoury</p>
               <table class="table table-striped">
                   <tr>
                     
                       <th>GunModel</th>
                       <th>Status</th>
                   </tr>
                   {% for Armo in Armoury %}
                       <tr>
                           <td>{{ Armo.created_at | date:"d-m-Y" }}</td>
                           <td>{{ Armo.GunModel }}</td>
                           <td>{{ Armo.status }}</td>
                       </tr>
                   {% endfor %}
{#       <div class="col-sm-4">#}
{#               <p>Deposits</p>#}
{#               <table class="table table-striped">#}
{#                   <tr>#}
{#                       <th>Date</th>#}
{#                       <th>Amount</th>#}
{#                       <th>Status</th>#}
{#                   </tr>#}
{#                   {% for deposit in deposits %}#}
{#                       <tr>#}
{#                           <td>{{ deposit.created_at | date:"d-m-Y" }}</td>#}
{#                           <td>{{ deposit.amount }}</td>#}
{#                           <td>{{ deposit.status }}</td>#}
{#                       </tr>#}
{#                   {% endfor %}#}
               </table>   
        </div>
    
{#      <div class="col-sm-4">#}
{#               <p class="text-center">Profile Picture</p>#}
{#               {% if warden.profile_pic %}#}
{#               	 <img class="img-fluid mx-auto d-block profile" src="{{ warden.profile_pic.url }}" alt="">#}
{#               {% else %}#}
{#               	 <img class="img-fluid mx-auto d-block profile" src="{% static 'default.png' %}" alt="">#}
{#               {% endif %} #}
{#              #}
{#           </div>#}
    </div>
  
{% endblock %}