{% extends 'Master.html' %}
{% block title %}
	<title>Wardens</title>
{% endblock %}
{% block content %}
<div class="container">
<h2>Wardens</h2>
<table class="table">
    <tr>
    <th>id</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>joining date</th>
        <th>remove</th>
        <th>update</th>
        <th>Details</th>
        <th>Armoury</th>
        
    </tr>
   {% for warden in data.object_list %}
  	<tr>
      <tr>
                  <td>{{ warden.id }}</td>
                  <td>{{ warden.FirstName }}</td>
                  <td>{{ warden.LastName }}</td>
                  <td>{{ warden.Email }}</td>
                  <td>{{ warden.created_at }}</td>
{#         {% if request.user.has_perm %}#}
         <td>
             <a class="btn btn-danger" href="{% url 'DeleteWarden' warden.id %}">Remove</a>
         </td>
{#         {% endif %}#}
{#       {% if request.user.has_perm %}#}
          <td>
              <a class="btn btn-primary" href="{% url 'UpdateWarden' warden.id %}">Update</a>
          </td>
{#      {% endif %}#}
      
{#       {% if request.user.has_perm %}#}
          <td> 
             <a class="btn btn-success" href="{% url 'WardenDetails' warden.id %}">Details</a>
          </td>
{#      {% endif %}#}
             <td>
             <a class="btn btn-info" href="{% url 'Armoury' warden.id %}">Armoury</a>
          </td>
          <td>
{#              <a class="btn btn-primary" href="{% url '#' warden.id %}">Details</a>#}
          </td>
{#          	<td>#}
{#                    <a class="btn btn-danger" href="{% url '' Warden.id %}">Remove</a>#}
{#                </td>#}
{#              <td>#}
{#                    <a class="btn btn-info" href="{% url '' customer.id %}">Details</a>#}
{#                </td>#}
{#               <td>#}
{#                    <a class="btn btn-info" href="{% url '' customer.id %}">Update</a>#}
{#                </td>#}
         

              </tr>
  {% empty %}
  	<p>no Wardens  in this prison</p>
  {% endfor %}



</table>
  <div class="row justify-content-center">
            <div class="col-sm-2">
                {% if data.has_previous %}
                    <a class="btn btn-outline-primary btn-sm" href="?page={{ data.previous_page_number }}"> << </a>
                {% endif %}
                <span class="mx-auto">{{ data.number }}</span>
                {% if data.has_next %}
                    <a class="btn btn-outline-success btn-sm" href="?page={{ data.next_page_number }}"> >> </a>
                {% endif %}
            </div>
        </div>
</div>
{# <img class="rounded-circle" src="{% static 'images/kamiti.jpeg' %}" >#}
{% endblock %}